/* CSS files add styling rules to your content */
* {
	box-sizing: border-box;
  }
  body {
	font-family: monospace;
	padding: 50px;
  }
  
  h1 {
	font-size: 50px;
  }
  /*creates overall game board to filled with content*/
  .game-board {
	margin: 0 auto;
	height: 450px;
	width: 450px;
	display: grid;
	grid-template-columns: 150px 150px 150px;
	grid-template-rows: 150px 150px 150px;
	justify-items: center;
	align-items: center;
	background-color: goldenrod;
  }
  /*adds style to board, ignoring left hand side of document to allow for classic styling*/
  .game-square {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100px;
	height: 100%;
	width: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-left: 1px solid black;
	cursor: pointer;
  }
  /*adds hover to square as well as color to indicate user location*/
  .game-square:hover {
	background-color: lavender;
  }
  